/* Обнуление стилей*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

html,
body {
    background: #fafafa;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    font-family: Montserrat;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* --------------------header-------------------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110px;
}
.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}
.header-menu {
    margin: 0 0 0 133px;
}
.menu {
    padding: 5px 0px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
}
.menu-item:not(:last-child) {
    margin-right: 20px;
}
.menu-link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}

.menu-link:hover{
    text-decoration: underline;
}

@media (max-width: 992px) {
    .header-container{
        padding: 0px 30px;
    }
    .header-menu {
        margin: 0 0 0 80px;
    }
}

@media (max-width: 767px) {
    .header-menu {
        margin: 0 0 0 50px;
    }
}

@media (max-width: 479px) {
    .header-container {
        min-height: 70px;
    }

    .header-menu {
        margin: 0px 0px 0px 20px;
    }    

    .menu-link {
        font-size: 18px;
    }
}